[submodule "submodules/hxp"]
	path = submodules/hxp
	url = https://github.com/openfl/hxp
[submodule "submodules/format"]
	path = submodules/format
	url = https://github.com/HaxeFoundation/format
[submodule "submodules/Rectangle-Bin-Packing"]
	path = submodules/Rectangle-Bin-Packing
	url = https://github.com/Tw1ddle/Rectangle-Bin-Packing
[submodule "submodules/haxe-zip"]
	path = submodules/haxe-zip
	url = https://github.com/starburst997/haxe-zip
[submodule "submodules/haxe-file-save"]
	path = submodules/haxe-file-save
	url = https://github.com/starburst997/haxe-file-save
[submodule "submodules/mcli"]
	path = submodules/mcli
	url = https://github.com/waneck/mcli
[submodule "submodules/openfl"]
	path = submodules/openfl
	url = https://github.com/starburst997/openfl
[submodule "submodules/heaps"]
	path = submodules/heaps
	url = https://github.com/starburst997/heaps
[submodule "submodules/hashlink"]
	path = submodules/hashlink
	url = https://github.com/starburst997/hashlink
[submodule "submodules/hxbit"]
	path = submodules/hxbit
	url = https://github.com/starburst997/hxbit
[submodule "submodules/hxcpp"]
	path = submodules/hxcpp
	url = https://github.com/starburst997/hxcpp
[submodule "submodules/tweenx"]
	path = submodules/tweenx
	url = https://github.com/shohei909/tweenx
[submodule "submodules/tilelayer"]
	path = submodules/tilelayer
	url = https://github.com/starburst997/tilelayer
[submodule "submodules/lime"]
	path = submodules/lime
	url = https://github.com/starburst997/lime
