[submodule "submodules/openfl"]
	path = submodules/openfl
	url = git@github.com:openfl/openfl.git
[submodule "submodules/lime"]
	path = submodules/lime
	url = git@github.com:openfl/lime.git
[submodule "submodules/hxp"]
	path = submodules/hxp
	url = git@github.com:openfl/hxp.git
[submodule "submodules/format"]
	path = submodules/format
	url = git@github.com:HaxeFoundation/format.git
[submodule "submodules/Rectangle-Bin-Packing"]
	path = submodules/Rectangle-Bin-Packing
	url = git@github.com:Tw1ddle/Rectangle-Bin-Packing.git
[submodule "submodules/haxe-zip"]
	path = submodules/haxe-zip
	url = git@github.com:starburst997/haxe-zip.git
[submodule "submodules/haxe-file-save"]
	path = submodules/haxe-file-save
	url = git@github.com:starburst997/haxe-file-save.git
